.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(52, 65, 189);
    padding: 10px;
  }
  P { text-align: center;
    text-decoration: underline;
    font-size: 20px;
    color: rgb(52, 65, 189)
 }
 a{
     margin-left: 40%;
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
        color: rgb(52, 65, 189)

 }